<div class="infowindow-card">
  <div class="window-contents d-flex justify-content-between">
    <div class="text">
      <p><%= reported_excuse.category.upcase %></p>
      <h5 style="font-size: 24px;"><%= link_to reported_excuse.title, reported_excuse_path(reported_excuse) %></h3>
    </div>
    <div class="icon">
      <h4><%= reported_excuse.icon %></h4>
    </div>
  </div>

  <p>Created at <%= reported_excuse.time.strftime("%I:%M%p %m/%d/%Y") %> by <%= reported_excuse.user.first_name %></p>
 <div class="d-flex align-items-center"><%= link_to '<i class="far fa-thumbs-up" style="font-size: 36px;"></i>'.html_safe, reported_excuse_upvote_path(reported_excuse), method: :put, class: "link mr-2" %><span class="text-warning mr-2"><%= (reported_excuse.votes) %></span>
    <%= link_to '<i class="far fa-thumbs-down" style="font-size: 36px;"></i>'.html_safe, reported_excuse_downvote_path(reported_excuse), method: :put, class: "link mt-4" %>
  </div>
</div>
