<div id="new_page" class="">
  <div style="background-image: url('<%= asset_url 'bgnodog.png' %>'); background-position: bottom; background-size: cover; width: 100vw; height: 92.25vh;">
    <div class="container parent-center" style="justify-content: center;">
      <h5>WHERE ARE YOU GOING?</h5>
      <div class="width-100 mt-5">
        <%= simple_form_for @location_excuse do |f| %>
          <%= f.input :start_point %>
          <%= f.input :end_point %>
      </div>
      <div class="width-100" >
          <%= f.button :submit, "EXCUSE ME", class: "btn btn-wide", id: "location_find"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="loader" class="hidden">
  <img src="https://media.giphy.com/media/3o7TKnnomKU8fKhsgU/giphy.gif" alt="">
</div>
