<div id="loader" class="hidden container" style="background-image: url('<%= asset_url 'eebackground.gif' %>'); background-position: bottom; background-size: cover; width: 100vw; height: 100vh; position: fixed; top: 0;">
  <div id="loading_excuse" class="excuses"></div>
</div>
<div id="static-loader" class="hidden" style="background-image: url('<%= asset_url 'staticloader.png' %>'); background-position: bottom; background-size: cover; width: 100vw; height: 100vh; position: fixed; top: 0;">
  <div id="loading_excuse" class="excuses"></div>
</div>
<div id="new_page" class="">
  <div style="background-image: url('<%= asset_url 'bgnodog.png' %>'); background-position: bottom; background-size: cover; width: 100vw; height: 92.25vh;">
    <div class="container parent-center" style="justify-content: center;">
      <h5>WHERE ARE YOU GOING?</h5>
      <div class="width-100 mt-5">
        <%= simple_form_for @location_excuse do |f| %>
          <%= f.input :start_point %>
          <%= f.input :end_point %>
      </div>
      <div class="width-100" >
          <%= f.button :submit, "EXCUSE ME", class: "btn btn-wide", id: "location_find"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
