<div class="container parent-center">
  <div class="width-100">
    <h1>The <%= @location_excuse&.lines_disrupted.first %> line is disrupted</h1>
    <p><%= @location_excuse&.disruption_message.first %></p>
    <p><%= @location_excuse.journeys %></p>

    <%= link_to "next excuse", location_excuse_path(@location_excuse.id + 1) %>
    <%= link_to "home", root_path %>
    <div
      id="map"
      style="width: 100%;
      height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapboxApiKey="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>
</div>
