<%= simple_form_for @creative_excuse, remote: true do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
   <div class= "container">
    <div class = "form-inputs">
      <div class="form-inputs-1" style="flex-grow: 6;padding-right: 8px;">
        <%= f.input :title, label: "Give a tagline!" %>
        <%= f.input :description, label: "Description", input_html: { style: "height: 200px"} %>
      </div>
      <div class="form-inputs-2" style="flex-grow: 3;">
        <%= f.input :photo, label: "Photo Upload" %>
        <%= f.input :photo_cache, as: :hidden %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit%>
    </div>
  </div>
<% end %>
