<div class="container parent-center mt-4" style="justify-content: center;">
  <h2 class="" style="font-weight: 100">MAKE AN EXCUSE</h1>
  <div class="width-100">
    <%= simple_form_for @creative_excuse do |f| %>
      <%= f.input :title, label: "Why might you be late?" %>
      <%= f.input :description, as: :text, label: "More details" %>
      <%= f.input :category, collection: ["home", "life", "travel", "family", "funny", "other"] %>
      <%= f.button :submit, "SAVE EXCUSE", class: "btn btn-wide" %>
    <% end %>
  </div>
</div>
