<div class="container parent-center mt-4" style="justify-content: center;">
  <h2 class="" style="font-weight: 100">CREATE AN EXCUSE</h1>
  <div class="width-100">
    <%= simple_form_for @creative_excuse do |f| %>
      <%= f.input :title %>
      <%= f.input :description, as: :text %>
      <%= f.input :category, collection: ["Select Category","malfunction","pets","health","family", "funny","other"] %>
      <%= f.button :submit, "SAVE EXCUSE", class: "btn btn-wide" %>
    <% end %>
  </div>
</div>
