<div class="container" id="data" data-signed=<%= user_signed_in? %>>
  <div class="parent-center">
    <h4>Excuse Found!</h4>
    <p>Reported on  <%=  @creative_excuse.time_format%></p>
    <%= @creative_excuse.icon %>
    <br>
    <h6> <%= @creative_excuse.title %></h6>
    <p><%= @creative_excuse.description %><p>
    <% if !@saved_excuse.id %>
      <%= simple_form_for [@creative_excuse, @saved_excuse] do |f| %>
        <button class="submit">
          <i class="far fa-heart fa-3x"></i>
        </button>
      <% end %>
    <% else %>
        <i class="fas fa-heart fa-3x" style="color: red"></i>
    <% end %>

    <div class="width-100">
      <%= link_to "give me something else", creative_excuse_path(@random_excuse), class: "btn btn-intro mt-3 width-100"  %>
    </div>
  </div>
</div>


